/* site.css */



#footer {
    padding: 5px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

